@model Guid

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">حذف</h4>
</div>

<form asp-area="Admin" asp-controller="Operator" asp-action="Delete"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">
        <h5 style="font-style: oblique">آیا از حذف این موجودیت اطمینان دارید؟</h5>
    </div>
    <div class="modal-footer">
        <input name="id" asp-for="@Model" type="hidden" />
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">خیر</button>
        <button type="submit" class="btn btn-danger waves-effect waves-light">بله</button>
    </div>
</form>