@using VideoRayan.Application.Contract.CustomerAgg
@model CreateCustomerDto


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">ایجاد مشتری جدید</h4>
</div>

<form asp-area="Admin" asp-controller="Customer" asp-action="Create"
      method="post"
      data-ajax="true"
      data-callback=""
      data-action="Refresh"
      enctype="multipart/form-data">
    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">عنوان</label>
                    <input type="text" class="form-control" asp-for="Title">
                    <span asp-validation-for="Title" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label">موبایل</label>
                    <input type="text" class="form-control" asp-for="Mobile">
                    <span asp-validation-for="Mobile" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label">نام</label>
                    <input type="text" class="form-control" asp-for="FirstName">
                    <span asp-validation-for="FirstName" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="LastName" class="control-label">نام خانوادگی</label>
                    <input type="text" class="form-control" asp-for="LastName">
                    <span asp-validation-for="LastName" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
             <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email" class="control-label">ایمیل</label>
                    <input type="text" class="form-control" asp-for="Email">
                    <span asp-validation-for="Email" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Logo" class="control-label">لوگو</label>
                    <input type="file" class="form-control" asp-for="Logo" accept="image/*">
                    <span asp-validation-for="Logo" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Image" class="control-label">تصویر</label>
                    <input type="file" class="form-control" asp-for="Image" accept="image/*">
                    <span asp-validation-for="Image" class="error"></span>
                </div>
            </div>
             <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Type" class="control-label">نوع</label>
                    <select asp-for="Type" class="form-control">
                        <option value="-1">انتخاب کنید ...</option>
                        <option value="0">آزاد</option>
                        <option value="1">سازمانی</option>
                    </select>
                    <span asp-validation-for="Type" class="error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">بستن</button>
        <button type="submit" class="btn btn-info waves-effect waves-light">ایجاد</button>
    </div>
</form>